extends ./components/main-layuot/main-layout

block variables
    - var title = 'Inner Webpack + Pug';
    - var description = 'Inner Description for Webpack + Pug';
    - var pageClass = 'inner-page';

block content
    section
        .container